{% extends 'base.html' %}

{% block content %}
<div class="form_outside">
    <h2>ADD USER</h2>
    <h4>{{ return_message }}</h4>

    <form method="post">

    <label for="first_name">First name: </label>
    <input type="text" name="first_name" id="first_name" required><br><br>

    <label for="last_name">Last name: </label>
    <input type="text" name="last_name" id="last_name" required><br><br>

    <label for="email">Email address:  </label>
    <input type="email" name="email" id="email" required><br><br>

    <label for="username">User name: </label>
    <input type="text" name="username" id="username"><br><br>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password"><br><br>

    <input class="button_form" type="submit" value="Add user">

    </form>
    <div class="back">
        <a id="back" href="/"> Back to home page! </a>
    </div>

</div>

{% endblock %}