<!DOCTYPE html>
<html>
<head>
    <title> {% block title %} Hollywood Films {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@300&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }} ">

</head>
    <body class=" {{ dark_mode_class }}">
        {% block content %}


        {% endblock %}

        <!-- Include JavaScript for toggling dark mode -->
        <script src="{{ url_for('static', filename='dark_mode.js') }}"></script>
        <script src="{{ url_for('static', filename='searching_result.js') }}"></script>

    </body>
</html>